---
import type { Props as $ } from "astro-portabletext/types";
import type { CalloutBlock } from "content-models";
import PortableText from "../PortableText.astro";
export type Props = $<CalloutBlock>;

const { node } = Astro.props;

// TODO copy details from PLL, tailwind, cva, cn, etc
---

<aside>
  <h2>{node.type}</h2>
  <PortableText value={node.body} />
</aside>

<style></style>
