---
import type { Props as $ } from "astro-portabletext/types";
import type { CalloutBlock } from "content-models";
export type Props = $<CalloutBlock>;

const { node } = Astro.props;

// TODO copy details from PLL, tailwind, cva, cn, etc
---

<aside>
  <h2>{node.type}</h2>
  <p>{node.text}</p>
</aside>

<style></style>
