---
// TODO clipboard copy button
import type { Props as $ } from "astro-portabletext/types";
import type { CodeBlock } from "content-models";

export type Props = $<CodeBlock>;
const { node } = Astro.props;

import { getHighlighter } from "shiki";

const THEME = "github-dark";

async function highlighter(code: string, lang: string) {
  const shikiHighlighter = await getHighlighter({
    theme: THEME,
  });
  const html = shikiHighlighter.codeToHtml(code, {
    lang,
  });
  return html;
}

const codeText = await highlighter(node.code, node.language);
---

<section class="not-prose">
  <header class="flex items-center">
    {node.filename && <span class="text-muted">{node.filename}</span>}
  </header>
  <div>
    <Fragment set:html={codeText} />
  </div>
</section>
