---
import Layout from "@/layouts/Layout.astro";
import { getAllTagsList } from "@/queries/tag";
import TagsList from "@/components/content/TagsList.astro";
import { titleTemplate } from "@/lib/metadata";
import MetaTags from "@/components/MetaTags.astro";

const data = await getAllTagsList();
---

<Layout>
  <MetaTags
    title={titleTemplate("Tags")}
    description={"Browse all connnected content by tag"}
    slot="metadata"
  />

  <header class="prose-width content-container">
    <h1>Browse content by tag</h1>
  </header>

  <main class="prose-custom content-container">
    {data && <TagsList tags={data} asLinks={true} />}
  </main>
</Layout>
