---
import Layout from "@/layouts/Layout.astro";
import { getPost } from "@/queries/post";
import PortableText from "@/components/PortableText/PortableText.astro";
import { titleTemplate } from "@/lib/metadata";
import MetaTags from "@/components/MetaTags.astro";

const post = await getPost("kitchen-sink");
---

<Layout>
  <MetaTags
    title={titleTemplate("Styleguide")}
    description={"Everything you need to create deeply connected content"}
    slot="metadata"
  />

  <header class="prose-width content-container">
    <h1>Tags Index TODO</h1>
    <h2>[slug].astro is also TODO</h2>
  </header>

  <main class="prose-custom content-container">
    {post.body && <PortableText value={post.body} />}
  </main>
</Layout>
