---
import Layout from "@/layouts/Layout.astro";
import { getAllPostsFull } from "@/queries/post";
import PortableText from "@/components/PortableText/PortableText.astro";
import type { InferGetStaticPropsType } from "astro";

export async function getStaticPaths() {
  const data = await getAllPostsFull();
  const staticProps = data.map((post) => {
    return {
      params: {
        slug: post.slug.current,
      },
      props: {
        post: post,
      },
    };
  });

  return staticProps;
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { post } = Astro.props as Props;
---

<Layout title={post.title}>
  <h1>{post.title}</h1>
  {post.body && <PortableText value={post.body} />}
</Layout>
