---
import MetaTags from "@/components/MetaTags.astro";
import Layout from "@/layouts/Layout.astro";
import { titleTemplate } from "@/lib/metadata";
import { splitIntoLines } from "@/lib/stringUtils";
import { getUrlForSanityType } from "@/lib/url";
import { getAllPostsList } from "@/queries/post";
import { getSanityTypeDisplayText } from "@/lib/sanityStrings";
const data = await getAllPostsList();
---

<Layout>
	<MetaTags
		title={titleTemplate("Blog Posts")}
		description={"My thoughts and musings"}
		slot="metadata"
	/>

	<header class="prose-width content-container">
		<h1>{getSanityTypeDisplayText("post", true)}</h1>
	</header>

	<main class="content-container prose-width flex flex-col gap-10">
		{
			data &&
				data.map((post) => {
					const lines = splitIntoLines(post.description);
					return (
						<a
							href={getUrlForSanityType("post", post.slug.current)}
							class="group"
						>
							<h2 class="group-hover:text-sky-500">{post.title}</h2>
							{lines.map((line, i) => (
								<p class="text-md" set:html={line} />
							))}
						</a>
					);
				})
		}
	</main>
</Layout>
