---
import Layout from "@/layouts/Layout.astro";
import { getAllPostsList } from "@/queries/post";
const data = await getAllPostsList();
---

<Layout title="Posts">
	<h1>Posts</h1>
	{
		data &&
			data.map((post) => {
				return (
					<a href={`/blog/${post.slug.current}`}>
						<h2>{post.title}</h2>
						<p>{post.description}</p>
					</a>
				);
			})
	}
</Layout>
