---
import { ClipboardCopy, ClipboardCheck } from "lucide-react";
---

<button
  class="border-focusable p-2 absolute top-2 right-2 flex bg-[#24292e]"
  data-clipboard-copy
  ><span class="sr-only">Copy to Clipboard</span>
  <div class="w-5 overflow-hidden">
    <div
      class="w-10 h-5 flex flex-row items-center transition-transform"
      data-clipboard-icons
    >
      <ClipboardCopy className="w-5" />
      <ClipboardCheck className="w-5 text-green-400" />
    </div>
  </div>
</button>
