---
import MetaTags from "@/components/MetaTags.astro";
import { titleTemplate } from "@/lib/metadata";
import { splitIntoLines } from "@/lib/stringUtils";
import { getUrlForSanityType } from "@/lib/url";
import { getAllPostsList } from "@/queries/post";

import DocsLayout from "@/layouts/DocsLayout.astro";

const data = await getAllPostsList();
---

<DocsLayout>
	<MetaTags
		title={titleTemplate("Space Madness Docs")}
		description={"Learn how to sow and tend to your own digital garden"}
		slot="metadata"
	/>

	<header class="prose-width content-container">
		<h1 class="h2">Getting Started</h1>
		<p class="p">
			Space madness is ready to go out of the box, but there's a lot in that
			box. This site will help you customize the site to your needs
		</p>
		<p class="p">
			Feel free to browse the articles. Concepts and Guides provide small bits
			of information that are tied together in articles
		</p>
	</header>

	<main
		class="content-container prose-width flex flex-col gap-12"
		data-pagefind-ignore
	>
		{
			data &&
				data.map((post) => {
					const lines = splitIntoLines(post.description);
					return (
						<a
							href={getUrlForSanityType("post", post.slug.current)}
							class="group"
						>
							<h2 class="h3 group-hover:text-sky-500">{post.title}</h2>
							{lines.map((line, i) => (
								<p class="p text-md" set:html={line} />
							))}
						</a>
					);
				})
		}
	</main>
</DocsLayout>
