---
import type { Props as $ } from "astro-portabletext/types";
import type { EmbedBlock } from "content-models";
import EmbedContent from "@/components/content/Embed.astro";

export type Props = $<EmbedBlock>;
const { node } = Astro.props;
---

<div class="my-8">
  <EmbedContent url={node.url} />
</div>
