---
import Layout from "@/layouts/Layout.astro";
import { getAllResourcesList } from "@/queries/resource";
import { getUrlForSanityType } from "@/lib/url";
import { titleTemplate } from "@/lib/metadata";
import MetaTags from "@/components/MetaTags.astro";
const data = await getAllResourcesList();
---

<Layout>
  <MetaTags
    title={titleTemplate("Resources")}
    description={"References to sites, books, podcasts, and the like"}
    slot="metadata"
  />

  <header class="prose-width content-container">
    <h1>Resources</h1>
  </header>

  <main class="content-container prose-width">
    {
      data &&
        data.map((resource) => {
          return (
            <a href={getUrlForSanityType("resource", resource.slug.current)}>
              <h2>{resource.title}</h2>
              <p>{resource.description}</p>
            </a>
          );
        })
    }
  </main>
</Layout>
