---
import { getSanityTypeDisplayText } from "@/lib/sanityStrings";
import { getUrlForSanityType } from "@/lib/url";
---

<header
  class="flex flex-col place-content-between items-center gap-4 p-4 sm:flex-row sm:items-end sm:p-6"
>
  <a href="/"><h2 class="h2 pb-0">Site Name</h2></a>

  <nav class="flex flex-row flex-wrap items-center gap-x-10 gap-y-4 sm:gap-6">
    <a href={getUrlForSanityType("post", "")} class="link"
      >{getSanityTypeDisplayText("post", true)}</a
    >
    <a href={getUrlForSanityType("concept", "")} class="link"
      >{getSanityTypeDisplayText("concept", true)}</a
    >
    <a href={getUrlForSanityType("resource", "")} class="link"
      >{getSanityTypeDisplayText("resource", true)}</a
    >
  </nav>
</header>
