---
import { getSanityTypeDisplayText } from "@/lib/sanityStrings";
import { getUrlForSanityType } from "@/lib/url";
import { Search } from "lucide-react";
---

<header
  class="site-header flex flex-col place-content-between items-center gap-4 p-4 sm:flex-row sm:items-end sm:p-6"
  data-pagefind-ignore
>
  <a href="/"><h2 class="h2 pb-0">Space Madness</h2></a>

  <nav class="flex flex-row flex-wrap items-center gap-x-8 gap-y-4 sm:gap-6">
    <a href={getUrlForSanityType("post", "")} class="link"
      >{getSanityTypeDisplayText("post", true)}</a
    >
    <a href={getUrlForSanityType("concept", "")} class="link"
      >{getSanityTypeDisplayText("concept", true)}</a
    >
    <a href={getUrlForSanityType("resource", "")} class="link"
      >{getSanityTypeDisplayText("resource", true)}</a
    >

    <button
      class="relative inline-flex h-9 items-center justify-start rounded-[0.5rem] border border-input px-4 py-2 text-sm font-medium text-muted-foreground ring-offset-background transition-colors hover:bg-accent hover:text-accent-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 sm:pr-12 md:w-40 lg:w-64"
      id="site-search"
      ><span class="sr-only">Open Site Search</span><Search
        className="w-4 h-4"
      /><kbd
        class="pointer-events-none absolute right-1.5 top-2 hidden h-5 select-none items-center gap-1 rounded border bg-muted px-1.5 font-mono text-[10px] font-medium opacity-100 sm:flex"
        >/</kbd
      ></button
    >
  </nav>
</header>

<script>
  function openSearch() {
    const event = new Event("openSearch");
    document.dispatchEvent(event);
  }

  const search = document.getElementById("site-search");
  search?.addEventListener("click", openSearch);
</script>
