---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <div class="prose-width content-container">
      <h1 class="h1">Welcome to Space Madness</h1>
      <p class="p">
        Check out <a href="https://spacemadness.dev/docs/">the docs</a> for details
        on how to get started
      </p>
    </div>
  </main>
</Layout>
