---
import Layout from "@/layouts/Layout.astro";
import { getPost } from "@/queries/post";
import PortableText from "@/components/PortableText/PortableText.astro";
import { titleTemplate } from "@/lib/metadata";
import MetaTags from "@/components/MetaTags.astro";

const post = await getPost("kitchen-sink");
---

<Layout>
  <MetaTags
    title={titleTemplate("Styleguide")}
    description={"Everything you need to create deeply connected content"}
    slot="metadata"
  />
  <header class="prose-width content-container">
    <h1 class="h1">Style Guide</h1>
    <p class="p">Most of the site styles focus around text content.</p>
    <p class="p">
      We use <a href="https://tailwindcss.com/docs/typography-plugin"
        >Tailwind Typography</a
      > for nearly all content on the site.
    </p>
    <p class="p">
      For everything outside of <code class="code">prose</code> elements, we'll fallback
      to the Typography used in <a
        href="https://ui.shadcn.com/docs/components/typography">Shadcn UI</a
      >
    </p>
  </header>
  <main class="prose-custom content-container">
    {post.body && <PortableText value={post.body} />}
  </main>
</Layout>
