---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<!-- Temp prose -->
	<main class="prose-custom">
		<header>
			<h1>Space Madness</h1>
			<h2>
				A content framework that connects ideas so you can build your digital
				garden
			</h2>
		</header>
		<section>
			<h2>Sanity + Astro</h2>
			<p>Fast as a default 🚀</p>
			<p>Connect your content with links: backlinks are automagic 🪄</p>
			<p>Shared types for peace of mind 🧘</p>
		</section>
		<section>
			<h2>High quality, highly opinionated</h2>
			<ul>
				<li>Tailwind</li>
				<li>Zod</li>
				<li>Radix</li>
				<li>ShadCN UI</li>
			</ul>
		</section>
		<section>
			<h2>Built for discovery</h2>
			<p>Backlinks connect content together with 0 effort</p>
			<p>Search everything with Pagefind + cmdk</p>
		</section>
	</main>
</Layout>

<style></style>
